.user-container {
    position: relative;
    text-align: center;
    width: max-content;
    margin: auto;
    
}
.user-container img{
    min-width: 20%;
    
}
.previous, .next{
    position: absolute;
    font-size: 30px;
    top: 50%;
    cursor: pointer;
    font-weight: bold;
}
.previous{
    left: 5px;
}
.next{
    right: 5px;
}
