.question{
    background-color: #222;
    color: antiquewhite;
    padding: 50px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.container{
    padding: 0px 30% 0px 30%;
}

.answer div{
    width: 200px;
    height: 200px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 200px;
    
}
.answer{
    display: flex;
    justify-content: space-between;
    
}
#no{
    background-color: orangered;
    
}
#yes{
    background-color: darkgreen;
}